@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:wght@300;800&family=Roboto:wght@400;900&display=swap');



$dark1: hsl(120, 100%, 10%);
$dark2: hsl(120, 100%, 30%);
$light: hsl(0, 0%, 100%);
$accent: hsl(120, 100%, 72%);

$base: 0.4rem;
$ff-1: Roboto;
$ff-2: Open Sans;

$fs-body: 1rem;
$fs-h3: 1.6rem;
$fs-h2: 2.5rem;
$fs-h1: 5.5rem;

$fs-body-medium: 1.2rem;
$fs-h3-medium: 1.9rem;
$fs-h2-medium: 3rem;
$fs-h1-medium: 9rem;

$fs-body-wide: 1.4rem;
$fs-h3-wide: 2.2rem;
$fs-h2-wide: 3.6rem;
$fs-h1-wide: 11rem;

$fs-body-x-wide: 2rem;
$fs-h3-x-wide: 2.8rem;
$fs-h2-x-wide: 4.4rem;
$fs-h1-x-wide: 15rem;

:root {
  font-size: $fs-body;
  h3 {
    font-size: $fs-h3;
  }
  h2 {
    font-size: $fs-h2;
  }
  h1 {
    font-size: $fs-h1;
  }
  @media screen and (min-width: 768px) {
    font-size: $fs-body-medium;
    h3 {
      font-size: $fs-h3-medium;
    }
    h2 {
      font-size: $fs-h2-medium;
    }
    h1 {
      font-size: $fs-h1-medium;
    }
  }
  @media screen and (min-width: 1024px) {
    font-size: $fs-body-wide;
    h3 {
      font-size: $fs-h3-wide;
    }
    h2 {
      font-size: $fs-h2-wide;
    }
    h1 {
      font-size: $fs-h1-wide;
    }
  }

  @media screen and (min-width: 1800px) {
    font-size: $fs-body-x-wide;
    h3 {
      font-size: $fs-h3-x-wide;
    }
    h2 {
      font-size: $fs-h2-x-wide;
    }
    h1 {
      font-size: $fs-h1-x-wide;
    }
  }
}



@mixin navFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: $light;
  color: $dark1;
  position: fixed;
  left: 0;
  max-height: 60px;
  box-sizing: border-box;
  padding: 0 0.5em;

  @media screen and (min-width: 1800px) {
    max-height: 100px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url(./img/Flat-Mountains.svg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #032c01;
  color: $light;
  text-align: center;
  font-family: $ff-1;
  min-height: 100vh;

}

html * {
  box-sizing: border-box;
}

body {
  padding: 1em;
}

.navbar {
  @include navFooter;
  top: 0;
  z-index: 1;

  .navbar__logo img {
    max-height: 55px;
    padding-left: 0.3em;

    @media screen and (min-width: 1800px) {
      max-height: 100px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .navbar__list {
    display: flex;
    padding: 0;
    * {
      list-style: none;
      text-decoration: none;
      text-transform: uppercase;
      color: $dark1;
      padding: 0.3em;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

footer {
  @include navFooter;
  bottom: 0;
  max-width: 100vw;

  .footer__link {
    text-decoration: none;
    color: $dark1;
    padding: 0.3em;
    &:hover {
      opacity: 0.8;
    }
  }

  .social-list {
    display: flex;
    list-style: none;
    padding: 0;
    .social-list__link {
      color: $dark1;
      padding: 0.3em;
      &:hover {
        opacity: 0.8;
      }
    }

    .social-list__item {
      padding: 0.3em;
    }
  }
}

.title {
  display: grid;
  grid-template: auto auto / auto auto;
  grid-template-areas:  'aka .'
                        'title title'
                        'desc .'
                        'welcome welcome';
  margin: 6.5em auto 1em auto;
  overflow: hidden;
  width: 270px;
  @media screen and (min-width: 768px) {
    margin: 2em auto 0.8em auto;
    width: 520px;
    grid-template-areas:
                        'title title'
                        'aka desc'
                        'welcome welcome';
  }
  @media screen and (min-width: 1024px) {
    margin: 1em auto 0.7em auto;
    width: 740px;
  }

  @media screen and (min-width: 1800px) {
    margin: 1em auto 0.7em auto;
    width: 1400px;
  }
}

.about-title {
  margin-top: 1em !important;
  @media screen and (min-width: 768px) {
    margin-top: 0.4em !important;
  }
  @media screen and (min-width: 1024px) {
    margin-top: 0.2em !important;
  }
}



.title__h1 {
  margin: 0;
  font-family: 'Fredericka the Great', cursive;
  animation: 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  grid-area: title;
  letter-spacing: 2px;
}


.title__aka {
  grid-area: aka;
  margin: 0 auto 0 0;
  color: white;
  animation: 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-delay: 0.5s !important;
  transform: translateY(20px);
  @media screen and (min-width: 768px) {
    transform: translateY(-40px);
  }
  @media screen and (min-width: 1024px) {
    transform: translateY(-50px);
  }
  @media screen and (min-width: 1800px) {
    transform: translateY(-90px);
  }

}
.title__description {
  grid-area: desc;
  margin: 0;
  text-align: left;
  transform: translateY(-20px);
  animation: 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-delay: 1s !important;
  @media screen and (min-width: 768px) {
    transform: translateY(-40px);
  }
  @media screen and (min-width: 1024px) {
    transform: translateY(-50px);
  }
  @media screen and (min-width: 1800px) {
    transform: translateY(-90px);
  }
}

.title__welcome {
  grid-area: welcome;
  margin: 0.5em 0 0 0;
  animation-delay: 1.5s !important;
}

.about-body {
  display: flex;
  flex-direction: column;
  margin: 2em auto;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em;
  }
}

.profile-picture {
  display: block;
  width: 95%;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 45vw;
    margin: 0;
  }
  @media screen and (min-width: 1800px) {
    width: 47vw;
  }
}

.about-body__description {
  margin-bottom: 3em;
  @media screen and (min-width: 768px) {
    width: 45vw;
    line-height: 1.3em;
  }


  @media screen and (min-width: 1024px) {
    width: 47vw;
    line-height: 1.6em;
  }
}

// animation for title
.text-focus-in {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.card {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 36, 0, 0.575);
  padding: 16px;
  width: Calc(100vw - padding);
  max-width: 532px;
  margin: 0 auto 3em auto;

  & * {
    animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  @media screen and (min-width: 1800px) {
    max-width: 900px;
  }
}

.work-pagination {
  display: none;
  position: relative;
  background-color: hsla(118, 100%, 5%, 0.534);
  height: 30px;
  max-width: 532px;

  margin: 7em auto 0 auto;

  @media screen and (min-width: 1800px) {
    max-width: 900px;
  }
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: calc(50% - 100px);
  top: -55px;
  width: 30px;
  height: 138px;
  transform: rotate(-90deg);

  &:hover {
    cursor: pointer;

    .chevron {
      width: $base * 4.5;
      height: $base * 1;
      transition: 0.2s;
    }
  }
}

.arrows:nth-child(1) {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  left: calc(50% - 100px);
  transform: rotate(+90deg);
}

.chevron {
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: $accent;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY($base * 3.8);
  }
  66.6% {
    opacity: 1;
    transform: translateY($base * 5.2);
  }
  100% {
    opacity: 0;
    transform: translateY($base * 8) scale(0.5);
  }
}

.contact {
  all: unset;
  background: $accent;
  border: 2px solid $light;
  color: $dark1;
  font-size: $fs-body;
  right: 0;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: 500ms all ease-in-out;
  position: absolute;
  overflow: hidden;
  text-align: center;
  width: 70px;
  letter-spacing: 1px;

  @media screen and (min-width: 1024px) {
    padding: 0.5em 1.5em 0.5em 1em;
  }
  @media screen and (min-width: 1800px) {
    padding: 0.5em 2.5em 0.5em 1em;
  }

  &:hover,
  &:active,
  &:focus {
    background: $light;
    border-top: solid 1px black;
    color: $light;
    width: 190px;
    height: 45px;
  }
  &:hover .contact__icons,
  &:active .contact__icons,
  &:focus .contact__icons {
    &__icon {
      transform: translateY(-75%);
      transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &:nth-child(1) {
        transition-delay: 30ms;
      }
      &:nth-child(2) {
        transition-delay: 60ms;
      }
      &:nth-child(3) {
        transition-delay: 90ms;
      }
      &:nth-child(4) {
        transition-delay: 120ms;
      }
      &:nth-child(5) {
        transition-delay: 150ms;
      }
    }
  }

  .contact__icons {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;

    &__icon {
      background: $light;
      border-radius: 50px;
      padding: 0;
      transform: translateY(60%);
      transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55); /* easeInOutBack */

      &:nth-child(1) {
        transition-delay: 20ms;
      }
      &:nth-child(2) {
        transition-delay: 40ms;
      }
      &:nth-child(3) {
        transition-delay: 60ms;
      }
      &:nth-child(4) {
        transition-delay: 80ms;
      }
      &:nth-child(5) {
        transition-delay: 100ms;
      }

      i {
        color: $dark1;
        &::before {
          font-size: 40px;
        }
      }
    }
  }
}

.resume,
.projects-btn,
.back-btn,
.card__btn {
  all: unset;
  background: $accent;
  margin: 1em 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
  color: $dark1;
  border: 2px solid $light;
  font-weight: 400;
  transition: 200ms ease-in-out;
  &:hover {
    background: $light;
  }
}

.projects-btn {
  margin-bottom: 2em;
}

.resume,
.projects-btn {
  font-size: 1.3rem;
}

.back-btn {
  display: none;
  left: 0;
}

.back-btn,
.contact {
  position: fixed;
  top: 60px;
  margin: 0;
  @media screen and (min-width: 1800px) {
    top: 100px;
  }
}

.about__back-btn {
  display: inline;
}
